VITE_API_URL=https://api.TU_DOMINIO/api
VITE_REVERB_APP_KEY=GENERAR_CLAVE_PUBLICA
VITE_REVERB_HOST=ws.TU_DOMINIO
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https
VITE_GOOGLE_CLIENT_ID=TU_CLIENT_ID_WEB.apps.googleusercontent.com
